.destinations {
  padding: 60px 0;

  @include respond('laptop') {
    padding: 32px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include respond('laptop') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond('laptop') {
      gap: 8px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
