.explore {
  $gap: 80px;

  padding: 112px 0;

  @include respond('laptop') {
    padding: 64px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: $gap;

    @include respond('tablet') {
      flex-direction: column;
      gap: calc($gap / 2);
    }
  }

  &__img {
    flex: 1 1 calc(50% - $gap);
    position: relative;

    @include respond('tablet') {
      flex: 1 1 calc(50% - $gap / 2);
    }

    @include respond('phone-s') {
      width: 100%;
    }
  }

  &__hero {
    width: 100%;
    min-height: 560px;
    overflow: hidden;
    border-radius: 16px;
    object-fit: cover;

    @include respond('laptop') {
      min-height: 40vw;
    }

    @include respond('tablet') {
      max-width: 80vw;
      max-height: 50vw;
    }

    @include respond('phone-s') {
      min-block-size: 80vw;
      max-width: 100%;
    }
  }

  &__content {
    flex: 1 1 calc(50% - $gap);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @include respond('tablet') {
      flex: 1 1 calc(50% - $gap / 2);
    }
  }
}
