:host {
  --color-fg-primary: #35aff4;
  --color-btn-primary-fg: #35aff4;
  --color-btn-primary-border: #35aff4;
  --color-btn-primary-hover-bg: #35aff4;
  --color-btn-primary-hover-border: #35aff4;
  --primary-color: #35aff4;
}
